article {
    grid-column: 1/-1;
    margin: 10vh auto;
    font-size: 1.5rem;
}

#not-found-message {
    font-weight: normal;
    display: inline-block;
}

#return-link {
    display: flex;
    margin: 2vh auto;
    width: fit-content;
    text-decoration: underline;

    &:hover {
        background-color: var(--PRIMARY-COLOR);
        border-radius: 5%;

        transition: 0.5s;
    }
}