/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Nova Mono */
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
/* Offside */
@import url("https://fonts.googleapis.com/css2?family=Offside&display=swap");

:root {
	font-size: 62.5%;
	color-scheme: light dark;

	--PRIMARY-COLOR: #231942;
	--SECONDARY-COLOR: #5e548e;
	--TERTIARY-COLOR: #9f86c0;
	--QUATERNARY-COLOR: #be95c4;
	--QUINARY-COLOR: #e0b1cb;
	--TRANSITION-DURATION: 0.5s;

	font-family: "Nova Mono", serif;
	font-weight: 400;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.offside-regular {
	font-family: "Offside", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.nova-mono-regular {
	font-family: "Nova Mono", serif;
	font-weight: 400;
	font-style: normal;
}
