:root {
    --MARQUEE-DURATION: 4s;
    --TRANSITION-DURATION: 0.5s;
    --IMAGE-SIZE: 200px;
}

.product-card {
    border: solid var(--QUATERNARY-COLOR);
    background-color: light-dark(var(--TERTIARY-COLOR), var(--SECONDARY-COLOR));
    display: flex;
    flex-direction: column;
    transition: calc(var(--TRANSITION-DURATION) * 2);
    margin: 1rem;

    img {
        height: var(--IMAGE-SIZE);
        width: var(--IMAGE-SIZE);
        object-fit: cover;
        /* background-color: light-dark(); */
    }

    h2 {
        max-width: 10ch;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.product-card:hover {
    cursor: pointer;

    .marquee {
        animation: marquee var(--MARQUEE-DURATION) linear forwards infinite;
    }
}

.product-card:has(~ .product-card:hover),
.product-card:hover~.product-card {
    opacity: 0.5;
    transition: var(--TRANSITION-DURATION);

    img {
        filter: blur(1px);
    }
}

.product-info {
    max-width: var(--IMAGE-SIZE);
    background-color: light-dark(var(--QUATERNARY-COLOR), var(--PRIMARY-COLOR));
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 2rem;

    p {
        justify-self: right;
    }
}

.marquee {
    display: inline-block;
}

@keyframes marquee {
    100% {
        transform: translate(-110%, 0);
    }
}