:root {
	--MARQUEE-DURATION: 4s;
	--IMAGE-SIZE: 200px;
	--LATERAL-PADDING-SIZE: 0.5rem;
}

.product-card {
	border: solid var(--QUATERNARY-COLOR);
	background-color: light-dark(var(--TERTIARY-COLOR), var(--SECONDARY-COLOR));
	display: flex;
	flex-direction: column;
	transition: calc(var(--TRANSITION-DURATION) * 2);
	margin: 1rem;

	position: relative;
	text-align: center;

	&:hover {
		cursor: pointer;

		.marquee {
			animation: marquee var(--MARQUEE-DURATION) linear infinite;
		}
	}
}

.product-image {
	height: var(--IMAGE-SIZE);
	width: var(--IMAGE-SIZE);
	object-fit: cover;
}

.product-card:has(~ .product-card:hover),
.product-card:hover ~ .product-card {
	filter: blur(1px);
	opacity: 0.5;
	transition: var(--TRANSITION-DURATION);
}

.product-info {
	max-width: var(--IMAGE-SIZE);
	background-color: light-dark(var(--QUATERNARY-COLOR), var(--PRIMARY-COLOR));
	width: 100%;
	height: calc(var(--IMAGE-SIZE) / 4);

	white-space: nowrap;
	overflow: hidden;
	padding: 0.25rem var(--LATERAL-PADDING-SIZE);

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}

.product-link {
	color: inherit;
	text-decoration: none;
}

.product-name {
	font-weight: bold;
	max-width: var(--IMAGE-SIZE);
	grid-row: 1;
}

.product-artist {
	grid-row: 2;
	max-width: calc(var(--IMAGE-SIZE) - (var(--LATERAL-PADDING-SIZE) * 2));
}

.product-price {
	background-color: inherit;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	height: calc(var(--IMAGE-SIZE) / 4);
	width: calc(var(--IMAGE-SIZE) / 4);
	font-weight: bold;
	align-content: center;
}

.marquee {
	display: inline-block;
}

@keyframes marquee {
	100% {
		transform: translateX(
			calc(calc(110% + var(--LATERAL-PADDING-SIZE) * 3) * -1)
		);
	}
}
