@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --PRIMARY-COLOR: #6a65fe;
    --SECONDARY-COLOR: #c5c5c5;
    --TERTIARY-COLOR: #f4f4f4;
    --DELETE-HOVER: #e92222;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 0.5em;
}

a {
    text-decoration: none;
    color: black;
}

input,
select {
    background-color: var(--TERTIARY-COLOR);
    border: 0.1rem solid var(--SECONDARY-COLOR);
    border-radius: 0.2rem;
    margin: 0.2rem;
}

button:disabled,
input:disabled {
    cursor: not-allowed;
    color: var(--TERTIARY-COLOR);
}

input::placeholder {
    padding-left: 0.5rem;
}

.primary-bg {
    background-color: var(--PRIMARY-COLOR);
}

.secondary-bg {
    background-color: var(--SECONDARY-COLOR);
}

.tertiary-bg {
    background-color: var(--TERTIARY-COLOR);
}

i,
button {
    border: 0;
    cursor: pointer;
    font-weight: bolder;
}

.site-body {
    height: 100%;
    grid-row: 2 / -1;
    display: grid;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.7rem;

    @media (width<1024px) {
        grid-template-rows: 0fr 0.2em 1fr;
        padding: 0 0.5rem;
        text-align: center;
    }

    @media (1024px <=width) {
        grid-template-columns: 1fr 0.2em 1fr;
        padding: 0 1rem;
    }
}

.left-side-panel {
    grid-column: 1;

    select,
    input,
    button {
        height: 1.7em;
        width: 99.5% !important;
    }

    select {
        border: 0.1rem solid var(--SECONDARY-COLOR);
    }

    button,
    input[type="submit"] {
        border: solid var(--PRIMARY-COLOR);
        width: 100%;
        cursor: pointer;
    }

    input:disabled {
        cursor: not-allowed;
    }

    .inputs {

        /* Se o formulário for inválido E não conter placeholder (ou seja, foi preenchido) */
        input:invalid:not(:placeholder-shown) {
            background-image: url(images/close_24dp_FF0000_FILL0_wght400_GRAD0_opsz24.png);
            border-color: #ff0000 !important;
        }

        /* Se o formulário for válido */
        input:valid {
            background-image: url(images/check_24dp_00FF00_FILL0_wght400_GRAD0_opsz24.png);
            border-color: #00ff00 !important;
        }

        /* Ajusta a imagem ícone do formulário */
        input:invalid:not(:placeholder-shown),
        input:valid {
            background-size: 1.5rem;
            background-repeat: no-repeat;
            background-position: 95%;
        }

        input:disabled {
            padding-left: 0.5rem;
            cursor: help;
            color: var(--SECONDARY-COLOR);
        }
    }

    /* Tira as "setinhas" do campo numérico */
    /* input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    } */
}

.middle-divisor {
    grid-column: 2;
    background-color: var(--TERTIARY-COLOR);

    @media (width<1024px) {
        grid-column: 1;
        grid-row: 2;
    }
}

.right-side-panel {
    grid-column: 3;

    @media (width<1024px) {
        grid-column: 1;
        grid-row: 3;
    }

    &>table {
        border-collapse: collapse !important;
        width: 100%;

        thead {
            font-weight: bold;

            td {
                border-bottom: 0.15rem solid var(--TERTIARY-COLOR);
                padding-left: 0.3rem;

                &:not(:last-of-type) {
                    border-right: 0.15rem solid var(--TERTIARY-COLOR);
                }
            }
        }

        tbody {
            tr {
                &:not(:last-of-type) td {
                    /* Se não for a última linha, adiciona borda */
                    border-bottom: 0.15rem solid var(--TERTIARY-COLOR);
                }

                td {
                    padding: 0.2em;

                    &:first-child {
                        width: fit-content;
                    }

                    &:not(:last-of-type) {
                        border-right: 0.15rem solid var(--TERTIARY-COLOR);
                    }

                    &:last-of-type {
                        width: 20px;
                        text-align: center;

                        & :hover {
                            color: var(--DELETE-HOVER);
                        }
                    }
                }
            }
        }
    }
}