main {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
}

.products-list {
	grid-column: 4 / -2;

	display: flex;
	column-gap: 2rem;
	flex-wrap: wrap;
	background-color: light-dark(var(--SECONDARY-COLOR), var(--TERTIARY-COLOR));
}

button {
	font-family: inherit;
}
