.parent {
    position: absolute;
    width: 98vw;
    height: 20%;
    z-index: 1;
}

.loader {
    border: 16px solid var(--SECONDARY-COLOR);
    /* Light grey */
    border-top: 16px solid var(--PRIMARY-COLOR);
    /* Blue */
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    animation: spin 2s linear infinite;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}